<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="widget">
          <a href="/">
            <img alt="Image" class="img-responsive" src="/assets/my_mentor_logo_white.png" />
          </a>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="widget">
          <h3 class="title-widget">Links</h3>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="widget">
          <h3 class="title-widget">Contact</h3>
          <ul class="list">
            <li class="email"><a href="mailto:info@mymentor.com" target="_top">info@mymentor.com</a></li>
            <li>© 2016 MyMentor</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
