<section class="banner banner-login">
  <div class="container">
    <div class="row search-result login text-center">
      <div class="col-sm-6">
        <div class="form">
          <login-form></login-form>
        </div>
      </div>
      <div class="col-sm-6 social-login social-integration text-left">
        <a href="/users/auth/linkedin" class="btn-social btn-linkedin">
          <i class="fa fa-linkedin"></i>
          <span class="text">
            Sign in with Linkedin
          </span>
        </a>

        <a href="/users/auth/facebook" class="btn-social btn-facebook">
          <i class="fa fa-facebook"></i>
          <span class="text">
            Sign in with Facebook
          </span>
        </a>

        <a href="/users/auth/instagram" class="btn-social btn-instagram">
          <i class="fa fa-instagram"></i>
          <span class="text">
            Sign in with Instagram
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
