<div class="main-content-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
        <h1>Change Password</h1>
        <p class="lead">
          Please enter your new password in the form below.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <form class="password_change" name="userForm" ng-submit="changePassword()" novalidate>
          <div class="alert alert-danger" ng-show="changePasswordError">
              <strong>Oops, </strong>{{changePasswordError}}
          </div>
          <div id="div_id_oldpassword" class="form-group" ng-class="{'has-error': isSubmitted && userForm.current_password.$invalid}">
            <div class="">
              <input autocomplete="off" oldautocomplete="remove" ng-model="user.current_password" placeholder="Current Password" id="id_oldpassword" name="current_password" class="form-control" type="password" required />
            </div>
            <span class="help-block" ng-show="isSubmitted && userForm.current_password.$error.required">{{translate("errors.common.field_is_required")}}</span>
          </div>
          <div id="div_id_password1" class="form-group" ng-class="{'has-error': isSubmitted && userForm.password.$invalid}">
            <div class="">
              <input placeholder="New Password" id="id_password1" name="password" ng-model="user.password" class="form-control" type="password" ng-focus="startEnteringField('password')" ng-blur="stopEnteringField('password')" ng-keyup="enterField('password', $event)" minlength="8" maxlength="72" password required />
            </div>
            <span class="help-block" ng-show="isSubmitted && userForm.password.$error.required">{{translate("errors.common.field_is_required")}}</span>
            <span class="help-block" ng-show="isSubmitted && userForm.password.$error.passwordMinlength">{{translate("errors.user.password_minlength", {minlength: 8})}}</span>
            <span class="help-block" ng-show="isSubmitted && userForm.password.$error.passwordMaxlength">{{translate("errors.user.password_maxlength", {maxlength: 72})}}</span>
            <span class="help-block" ng-repeat="error in passwordErrors">{{error}}</span>
          </div>
          <div id="div_id_password2" class="form-group last" ng-class="{'has-error': isSubmitted && userForm.password_confirmation.$invalid}">
            <div class="">
              <input placeholder="New Password (again)" id="id_password2" name="password_confirmation" ng-model="user.password_confirmation" class="form-control" type="password" ng-focus="startEnteringField('password_confirmation')" ng-blur="stopEnteringField('password_confirmation')" ng-keyup="enterField('password_confirmation', $event)" required />
            </div>
            <span class="help-block" ng-show="isSubmitted && userForm.password_confirmation.$error.required">{{translate("errors.common.field_is_required")}}</span>
            <span class="help-block" ng-show="isSubmitted && userForm.password.$valid && !userForm.password_confirmation.$error.required && userForm.password_confirmation.$error.match">{{translate("errors.user.confirmed_password_does_not_match")}}</span>
            <span class="help-block" ng-repeat="error in passwordConfirmationErrors">{{error}}</span>
          </div>
          <button class="btn btn-primary col-xs-12" type="submit" name="action" ng-disabled="isSubmitting">
            <span ng-hide="isSubmitting">Change Password</span>
            <span ng-show="isSubmitting">Changing password ...</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
